body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero-section{
  /* background: url(../src/images/1.jpg); */
  background-color: #ECF2FF;
  margin: 0;
  padding: 0;
}
/* .hero-img{
  /* background: url(../src/images/img-hero.png); 
} */
.hero-header{
  color: #3E54AC;
}
.hero-btn{
  background-color: #3E54AC;
  border-radius: 20px;
}